{% extends 'Basic_Home.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'About.css' %}">
<link rel="stylesheet" href="{% static 'Basic.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .h1{
        font-size: 28px;
        margin-top: -50px;
    }
</style>
{% endblock css %}
{% block body %}

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Me</h1>
                </div>
                <div class="content">
                    <p>I am Meena Thakkar, a business women, owner of Jalaram Bandhani House. You will get the best quality products here. You can connect with me on various platforms. Keep Shopping !</p>
                </div>
                <div class="wrapper">
                    <div class="icon facebook">
                        <div class="tooltip">Facebook</div>
                        <a href="https://www.facebook.com/meena.thakkar.7161" target="_blank"><span><i class="fa fa-facebook"></i></span></a>
                    </div>
                     <div class="icon instagram">
                        <div class="tooltip">Instagram</div>
                        <a href="https://www.instagram.com/meena_thakkar_2779?utm_source=qr&igsh=OGxmZ3RvNjk5c2Zk" target="_blank"><span><i class="fa fa-instagram"></i></span></a>
                    </div>
                                        <!--<div class="icon whatsapp">
                        <div class="tooltip">Whatsapp</div>
                        <a href="#" target="_blank"><span><i class="fa fa-whatsapp"></i></span></a>
                    </div> -->
                    <div class="icon youtube">
                        <div class="tooltip">YouTube</div>
                        <a href="https://www.youtube.com/channel/UCUS4blQEZP9MxEusMYXHsRw/featured" target="_blank"><span><i class="fa fa-youtube-play"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img
                src="https://i.ibb.co/L8KMsNH/Whats-App-Image-2022-05-26-at-9-16-41-PM.jpg">
            </div>
        </div>
    </div>
</body>
{% endblock body %}
