<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalaram Bandhani House</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Basic.css' %}">
    {% endblock css %}
    <h1 class="h1">Jalaram Bandhani House</h1>
    <nav class="nav">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="/" class="home">Home</a></li>
            <li><a href="/contact" class="contact">Contact Me</a></li>
            <li><a href="about" class="about">About Me</a></li>
            <li><a href="tracker" class="tracker">Order Tracker</a></li>
            <li><a href="profile" class="profile">Profile</a></li>
            <li><a href="shop" class="shop">Explore More</a></li>
            <li><a href="logged-out" class="logout">Logout</a></li>

            {% else %}
            <li><a href="" class="home">Home</a></li>
            <li><a href="about" class="about">About Me</a></li>
            <li><a href="login" class="login">Login</a></li>
            <li><a href="signup" class="signup">Signup</a></li>
            <li><a href="shop" class="shop">Explore More</a></li>

            {% endif %}
        </ul>
    </nav>
    {% comment %}
    <hr class="hr"> {% endcomment %}
</head>
{% block body %}{% endblock body %}
{% block js %}{% endblock js %}
{% comment %}
<hr class="hr2">
<div class="wrapper">
    <p class="footer">Connect with Me On :</p>
    <div class="icon facebook">
        <div class="tooltip">Facebook</div>
        <a href="#"><span><i class="fa fa-facebook"></i></span></a>
    </div>
    <div class="icon instagram">
        <div class="tooltip">Instagram</div>
        <a href="#"><span><i class="fa fa-instagram"></i></span></a>
    </div>
    <div class="icon whatsapp">
        <div class="tooltip">Whatsapp</div>
        <a href="#"><span><i class="fa fa-whatsapp"></i></span></a>
    </div>
    <div class="icon youtube">
        <div class="tooltip">YouTube</div>
        <a href="#"><span><i class="fa fa-youtube-play"></i></span></a>
    </div>
</div> {% endcomment %}