<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jalaram Bandhani House | Paying Options</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Paying_Options.css' %}">
</head>

<body>
    <h1>Choose How You Will Pay</h1>
    <form action="/paying-option-selected" method="post">
        {% csrf_token %}
        <select name="paying-options" id="select">
            <option value="selector" selected>Select Payment Option</option>
            <option value="advance">Pay In Advance</option>
            <option value="half">Half In Advance and Half On Delivery</option>
            <option value="delivery">Pay On Delivery</option>
        </select>
        <input type="submit" value="Select">
    </form>
</body>

</html>