.footer {
    display: inline-flex;
    margin-top: 0px;
    font-size: 33px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: inline-flex;
    margin-top: 33px;
    /* border: 10px solid black; */
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wrapper .icon {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: 2;
    text-align: center;
}

.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .icon:hover span {
    color: white;
}

.wrapper .icon .tooltip {
    top: -70px;
    background: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon .tooltip::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: white;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper.icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

div a {
    color: black;
}

.wrapper .facebook span:hover,
.wrapper .facebook .tooltip,
.wrapper .facebook .tooltip::before {
    background: #3B5999;
}

.wrapper .instagram span:hover,
.wrapper .instagram .tooltip,
.wrapper .instagram .tooltip::before {
    background: #e1306c;
}

.wrapper .whatsapp span:hover,
.wrapper .whatsapp .tooltip,
.wrapper .whatsapp .tooltip::before {
    background: green;
}

.wrapper .youtube span:hover,
.wrapper .youtube .tooltip,
.wrapper .youtube .tooltip::before {
    background: #DE463B;
}

@media (max-width:1281px) {
    h1 {
        font-size: 8vw;
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        margin-top: 82px;
    }

    nav ul li {
        display: block;
        margin-top: -30px;
    }

    nav ul li a:hover {
        background-color: #4D1A78;
        padding: 10px;
        font-size: 33px;
    }

    h2 {
        font-size: 4vh;
        margin-left: 0;
        text-align: center;
    }

    .container {
        margin-top: 14px;
        margin-left: 6vh;
    }

    .btn {
        font-size: 4vh;
        margin-left: 6vh;
    }

    nav ul li a {
        font-size: 4vw;
    }

    .hr {
        color: white;
        display: block;
        margin-top: 350px;
    }

    .footer {
        display: none;
    }
    .wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}